<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

    <title>tmp</title>
</head>
<body>
    
    <div id="app" >
        <article class="wrap m-3">
            <section class="todo-from columns">
                <input type="text" name="todo-text" class="input-text m-3 column input is-primary" 
                placeholder="please input todo" :value="text" 
                @input ="inputText"/>

                <button class="add-button column is-one-fifth m-3 button is-primary" @click="addTodo">ADD TODO</button>
            </section>

            <section class="list-area columns ">
                <div class="area-incomplete column is-half">
                    <p class="todo-title is-size-3 has-text-centered has-text-weight-semibold">incomplete items</p>
                    <ul class="todo-area is-size-4 has-text-centered card">
                        <li v-for="(item,i) in incompleteTodo" :key="i" class="list m-1 has-text-right">
                            <span class="list-label card-content">{{item.text}}</span>
                            <span class="butn-area ">
                                <button class="list-button button-done button is-success" @click="toggleIsDone(item.id)">DONE</button>
                                <button class="list-button button-delete button is-danger" @click="deleteTodo(item.id)">DELETE</button>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="area-complete column is-half">
                    <p class="todo-title is-size-3 has-text-centered has-text-weight-semibold">complete</p>
                    <ul class="todo-area is-size-4 has-text-centered card">
                        <li v-for="(item,i) in doneTodo" :key="i" class="list m-1 has-text-right">
                            <span class="list-label card-content">{{item.text}}</span>
                            <span class="button-area">
                                <button class="list-button button is-info is-light" @click="toggleIsDone(item.id)">RETURN</button>
                                <button class="list-button button-delete button is-danger" @click="deleteTodo(item.id)">DELETE</button>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="new.js"></script>
</body>
</html>
